#cashier {
  min-width: 50vw;
  min-height: 50vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
  padding-top: 10vh;
  font-family: 'Oswald';
}

.table{
	width: 100%;
}

.title{
	padding-right: 15px;
}