{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link type="text/css" href="{% static 'BookR/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="
	sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <title>{% block title %}BookR{% endblock %}</title>
</head>
<body>
  <main>
  	<div class="container" style="background-color: lightblue;">
  <div class="row">
    <div class="col">
  		<h1>BookR</h1>
    </div>
    <div class="col" style="padding-left: 35em;">

      <button><a href="{% url 'login' %}">LOG IN</a></button>
      <button type="submit"><a href="{% url 'logout' %}">LOG OUT</a></button>
      <button type="submit"><a href="{% url 'signup' %}">SIGN UP</a></button>
    </div>
  </div>
  <div class="row">
  	<div class="col" style="background-color: lightgrey;">
  		<h3><a>Book List</a></h3>
  	</div>
  </div>
</div>
</div>
<br>
<br>
<div class="pos1" style="padding-left: 35em;">
    {% block content %}
    {% endblock %}
</div>
  </main>
</body>
</html>